pandas==1.5.3
numpy==1.24.3
matplotlib==3.7.1
seaborn==0.12.2
scikit-learn==1.2.2
xgboost==1.7.5
folium==0.14.0
branca==0.6.0
jinja2==3.1.2
jupyter==1.0.0
notebook==6.5.4
ipykernel==6.22.0
kaleido>=0.2.1  # For saving plotly figures as static images 